* {
    margin: 0; padding: 0;
}

#my_logo{
    font-family: Phosphate;
    font-size: 35px;
    color: white;
    padding-left: 30px;
}
#logo_welcome{
    font-family: Phosphate;
    font-size: 200px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    /*width: 100vw;*/
    min-height: 100vh;
    margin: 20;
    padding: 0;
    margin: 0;
    background-color: #888279;
}

h1 {
    margin: 0;
}


main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
li{
    list-style-type: none;
}
.header{
    display: flex;
}
#menu_banderole{
    grid-column: 0 / 2;
    grid-row: 0/7;
    background: #333;
}
.container{
    grid-column: 1 / 11;
    grid-row: 0/7;

    overflow: hidden;

}

.image_container {
    float: right;
    width: 20%;
}

.content_container {
    float: left;
    width: 80%;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}

.friends_container{
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    background: #8f9091;
}
}
textarea{
    background: #99948f;
    text-decoration: none;
    width: 50vw;
}
.friends_list {

    font-size: 16px;
    font-family: Arial;
    color: white;
    padding-left: 20px;
    line-height: 170%;
}

.friends_image {
    width: 10rem;
}


.wannabees_list {
    font-size: 14px;
    font-family: Arial;
    color: white;
    padding-left: 20px;
    line-height: 170%;
}


#nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    /* justify-content: space-between; */
    width: 40vw;
}
.nav_items a {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    float: left;
    font-size: 14px;
    font-weight: bold;

    color: #ce9696;
    padding: 10px 30px 0px 30px;
    text-decoration: none;
    font-family: Arial;
}



#profile_image{
    /* -moz-border-radius: 20px;
    -webkit-border-radius: 45px; */
    width: 30%;
    height: auto;

}

.button_friends{
    appearance: button;
        margin-right: 20px;
        -moz-appearance: button;
        font-family: Arial;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;

        font-size: 14px;
        color: ButtonText;
        display: inline-block;
        padding: 12px 18px;

}
.button_always_logout{
    appearance: button;
        -moz-appearance: button;
        font-family: Arial;
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;

        font-size: 14px;
        color: ButtonText;
        display: inline-block;
        padding: 12px 18px;

}


.button_register{
    color:         white !important;
    display:       inline-block;
    font:          normal 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    background:    #3d85c6;
    background:    -webkit-linear-gradient(#3d85c6, #0b5394);
    background:    linear-gradient(#3d85c6, #0b5394);
    border-radius: 5px;
    text-decoration: none !important;


    border: none;
    width: 160px;
    height: 38px;
    color: white;
    font: 18px Arial;
    /* background-color: red; */
    box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    display: block;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.button_farewell{

    background:    #3d85c6;
    background:    -webkit-linear-gradient(#3d85c6, #0b5394);
    background: linear-gradient(#8f9091, #7e7f80);
    text-decoration: none !important;
    border: none;
    width: 80px;
    height: 25px;
    color: white;
    font: 13px Arial;
    box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    margin-bottom: 20px;
}
.friendButton{

    background:    #3d85c6;
    background:    -webkit-linear-gradient(#3d85c6, #0b5394);
    background: linear-gradient(#8f9091, #7e7f80);
    text-decoration: none !important;
    border: none;
    width: 80px;
    height: 25px;
    color: white;
    font: 13px Arial;
    box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    margin-bottom: 20px;
}



.button_login{
    color:         white !important;
    display:       inline-block;
    font:          normal 700 24px/1 "Calibri", sans-serif;
    text-align:    center;
    background:    #3d85c6;
    background:    -webkit-linear-gradient(#3d85c6, #0b5394);
    background:    linear-gradient(#3d85c6, #0b5394);
    border-radius: 5px;
    text-decoration: none !important;


    border: none;
    margin-left: 40px;
    width: 160px;
    height: 38px;
    color: white;
    font: 18px Arial;
    /* background-color: red; */
    box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
    display: block;
    margin: auto;
}

.button_login a {
    color: white;
    text-decoration: none;
}

.buttonLink{
    display: inline;
    border: none;
    margin-left: 40px;
    width: 160px;
    height: 38px;
    font: 20px Arial;
    text-decoration: none;
    box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
}

.register_input {
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    height: 2rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.login_input {
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
}
button {
    align-items: center;
}
.button-link{
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    background-color: white;
    /* border: solid 1px #85b1de; */
    width: 300px;
    border: none;

}


.button_logout{
    display: inline;
    border: none;
    margin-left: 40px;
    width: 160px;
    height: 38px;
    font: 14px Arial;
    text-decoration: none;
    /* background-color: red; */
    box-shadow: 0px 2px 19px rgba(50, 50, 50, 0.75);
}

.chat-messages-container{
    height: 320px;
    line-height: 2;
    overflow-y: scroll;
}

#friends{
    color: #e8c9b0;
    font-family: Arial;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 20px;
}
#wannabees{
    color: #e8c9b0;
    font-family: Arial;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
#online_users{
    color: #ce5c00;
    font-family: Arial;
    font-weight: bolder;
    font-size: 30px;
}
#chat_messages{
    color: black;
    font-family: Arial;
    font-weight: bolder;
    font-size: 1rem;
}



/* screen sizes 500px and up */
@media(max-width: 700px){
    #profile_image{
        width: 60%;
    }
